header> h1{
    margin: auto;
    width: 80%;
    color: #e53170;
    font-family: 'Skranji', cursive;
    text-align: center;
}

main{
    font-family: 'Nunito', sans-serif;
    margin: auto;
    width: 80%;
    text-align: center;
}

.box{
    background-color: black;
    color: white;
    text-align: left;
    float:left;
    width: calc(20% + 110px);
    margin-left: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}

.box img{
    width: 110px;
    float:left;
    margin: 0 10px 0 0;

}
.box div{
    display: inline-block;
}

.box:after{
    content:"";
    clear:both;
    display:table;
}

.role{
    margin: 10px 0;
}

.name{
    margin: 10px 0 0 0;
}

.email{
    color: cornflowerblue;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

